body {
  background-color: #2d3436;
  font-family: "Open Sans", serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container{
  display:flex;
  height:90vh;
  background-size:cover;
  align-items:center;
  justify-content: center;
  color:#d1d8e0;
}

.form-container{
  background-color: #2c3e50;
  height: 100vh;
  padding-top: 50px;
  padding-left:40px;
  padding-right:40px;
}
.weather__info >.weather__key{
  color:#d1d8e0;

}

.weather__value {
  color: #f16051;
  font-weight: 200;
}

input[type='text']{
  background-color: #2c3e50;

  border: 20px;
  border-bottom: solid 1px #f16051;
  width: 30%;
  color: #c8d6e5;
  font-weight: lighter;
  letter-spacing: 2px;
  border-radius: 10px;
  outline:none;
}
input[type=text]:focus {
  background-color:  #2c3e50;;
}
button{
  background-color: #f16051;
  border-radius:10px;
  width:80px;
  font-size:12px;
  align-content: right;
  padding: 4px;
  color:#222f3e;
  margin: 0 2px;
  cursor: pointer;
  font-weight: 100;
  outline:none;

}